/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: black;
}

.nav-bar {
  background-color: rgb(242, 242, 244);
  height:30px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  color: blueviolet;
}

.flats-overall {
  width: 90%;
  margin: auto;
}

.flats-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.flats-card {
  margin: 10px;
}

.flats-card img {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.banner {
  background-size: cover;
  padding: 150px 0;
  width: 100%;
  z-index: 0;
  position: relative;
}

.cards-container {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  grid-template-rows: 2fr 1fr;
  z-index: 100;
  position: absolute;
  top: 275px;
}

.card-med {
  background-color: rgb(242, 242, 244);
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin: 20px;
  max-width: 45%;
  height: 150px;
}

.card-sml {
  background-color: rgb(242, 242, 244);
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin: 20px;
  max-width: 25%;
  height: 150px;
}
